/* probability-styles.css */

#nGramHistory, #markovHistory {
    overflow-y: auto; /* Adds scroll if content is too long */
    max-height: 300px; /* Limits the height of the history area */
    margin-top: 10px; /* Adds some space above the history area */
}
/* Style for the predictions container to display N-Gram and Markov side by side */
#predictionsContainer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 35%;
}

/* Style for individual prediction blocks */
.prediction {
    flex: 1; /* Allows the boxes to grow and take up equal space */
    margin: 10px; /* Adds space between the containers */
    padding: 10px; /* Adds space inside the containers */
    border: 1px solid #ddd; /* Adds a light border around the prediction blocks */
    border-radius: 4px; /* Slightly rounds the corners of the prediction blocks */
    display: flex; /* Makes the prediction blocks flex containers */
    flex-direction: column; /* Aligns children of the prediction blocks in a column */
}

#accuracyContainer {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align the children horizontally */
    margin-top: 20px; /* Adjust as necessary to provide space from the content above */
}

#accuracyContainer > div {
    display: flex;
    justify-content: center; /* Center-align the percentages */
}


/* Add any additional styling you want here */
#userInputArea {
    text-align: center; /* Center the buttons */
}

#userInputArea button {
    margin: 0 5px; /* Add space between the buttons */
}

#interactionContainer {
    display: flex;
    align-items: center;
    justify-content: center; /* Center the container on the page */
    margin-top: 20px; /* Adjust this value as needed to create space below the text */
}

.button-press-counter {
    margin-right: 20px; /* Space between the counter and the buttons */
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    /* No need for position:absolute since it's within a flex container now */
}

#userInputArea {
    /* If you have existing styles for this, they might need adjustments */
}


#resetButton {
    padding: 5px 10px;
    margin-left: 10px; /* Spacing between the button counter and reset button */
    cursor: pointer; /* Change cursor to pointer on hover */
    /* Add any additional styles to match your page's design */
}
