/* General Body Styles */
body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  background: url('images/road_background.png') no-repeat center center;
  background-size: cover; /* This will ensure that the background covers the entire viewport */
}

/* Container Styling */
.container {
  max-width: 960px;
  margin: auto;
}

/* Header Section Styling */
.row.align-items-center {
  display: flex;
  margin-top: 50px; /* Space from the top */
}

/* Image Styling */
img.rounded-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Lead Text Styling */
.lead {
  font-size: 1.1em;
  margin-bottom: 15px;
}

/* LinkedIn Icon Styling */
.bi-linkedin {
  color: #0a66c2; /* LinkedIn Blue */
  font-size: 1.5rem; /* Icon Size */
  vertical-align: middle;
  margin-right: 5px;
}

.img-philosophy-large {
  width: 120px !important; /* or any other size */
  height: auto !important; /* maintain aspect ratio */
}


.icon-container {
  position: relative;
  width: 100%; /* Full width of the container */
  height: 500px; /* Adjust the height to fit the background image */
  /* Make sure the container is not collapsed */
}

.icon {
  display: block;
  position: absolute;
  overflow: hidden;
}



/* Footer Styling */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Footer Links */
.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



/* Navigation Icons */
.img-fluid {
  display: block;
  width: 70px; /* Makes the image fill the anchor tag */
  height: auto;
  margin-bottom: 20px; /* Space below each icon */
  transition: transform 0.2s, opacity 0.2s; /* Smooth transition for scaling and opacity */
  opacity: 0.6; /* Partial transparency */
  box-shadow: none; /* No shadow by default */
  filter: grayscale(100%); /* Fully desaturate the color */
}

.img-fluid:hover {
    transform: scale(1.05); /* Scale up icons slightly on hover */
    opacity: 1; /* Full opacity on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow appears on hover */
    filter: grayscale(0%); /* Full color on hover */
}

.pdf-links {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

.pdf-links a {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #007bff;
}

.link-container a {
  display: block;
  text-align: left;
  padding: 1rem;
  width: auto; /* Adjust width as needed */

}


/* Desktop specific styles */
@media (min-width: 992px) {
  .link-container {
      display: block;
      position: absolute;
      top: 50%; /* Adjust this value to vertically center it to .icon-container */
      left: calc(5% - 50px); /* 25% is the left position of the .icon-container, 150px is an arbitrary width of .link-container */
      transform: translateY(-0%); /* Vertically center the div */
      width: auto; /* Adjust width as needed */
      text-align: left;
      padding: 1rem;
      /* Add other styles such as background, padding, border, etc. as needed */
  }
}

/* Mobile specific styles */
@media (max-width: 991px) {
  .link-container {
      display: block;
      position: relative; /* Adjust if needed */
      margin-top: 20px; /* Add space above on mobile */
      margin-bottom: 20px; /* Add space below on mobile */
      text-align: left;
      padding: 1rem;
      /* Adjust width, margin, padding, etc. for mobile layout as needed */
  }
}
