/* General Body Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  background: url('images/road_background.png') no-repeat center center;
  background-size: cover; /* This will ensure that the background covers the entire viewport */
}

/* Container Styling */
.container {
  max-width: 960px;
  margin: auto;
}

/* Header Section Styling */
.row.align-items-center {
  margin-top: 50px; /* Space from the top */
}

/* Image Styling */
img.rounded-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* Lead Text Styling */
.lead {
  font-size: 1.1em;
  margin-bottom: 15px;
}

/* LinkedIn Icon Styling */
.bi-linkedin {
  color: #0a66c2; /* LinkedIn Blue */
  font-size: 1.5rem; /* Icon Size */
  vertical-align: middle;
  margin-right: 5px;
}

.img-philosophy-large {
  width: 120px !important; /* or any other size */
  height: auto !important; /* maintain aspect ratio */
}


.icon-container {
  position: relative;
  width: 100%; /* Full width of the container */
  height: 500px; /* Adjust the height to fit the background image */
  /* Make sure the container is not collapsed */
}

.icon {
  display: block;
  position: absolute;
  overflow: hidden;
}



/* Footer Styling */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Footer Links */
.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}



/* Navigation Icons */
.img-fluid {
  display: block;
  width: 70px; /* Makes the image fill the anchor tag */
  height: auto;
  margin-bottom: 20px; /* Space below each icon */
  transition: transform 0.2s, opacity 0.2s; /* Smooth transition for scaling and opacity */
  opacity: 0.6; /* Partial transparency */
  box-shadow: none; /* No shadow by default */
  filter: grayscale(100%); /* Fully desaturate the color */
}

.img-fluid:hover {
    transform: scale(1.05); /* Scale up icons slightly on hover */
    opacity: 1; /* Full opacity on hover */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Shadow appears on hover */
    filter: grayscale(0%); /* Full color on hover */
}

.pdf-links {
  margin-top: 20px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

.pdf-links a {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #007bff;
}

.link-container {

  position: absolute; /* or `fixed` if you want it to stay in place while scrolling */
  left: 125px; /* Adjust this value as needed */
  top: 400px; /* Adjust this to position vertically */
  border: none;
  width: 120px
  /* Add more styling as needed */
}

.link-container a {
  text-decoration: none;
  /* Style for your link (color, font, etc.) */
}



/* Responsive Design for smaller devices */
@media (max-width: 768px) {
  .row.align-items-center {
      text-align: center;
      h1 {
        font-size: 24px; /* Smaller font size on smaller screens */
    }
  }

  .row.align-items-center .col-md-4,
  .row.align-items-center .col-md-8 {
      margin-bottom: 20px;
  }

  .bi-linkedin {
      display: block;
      margin: auto;
      margin-bottom: 15px;
  }

  .icon {
    /* Adjust top and left values for smaller screens */
    top: 40%; /* Example adjustment */
    left: 30%; /* Example adjustment */
    transform: scale(0.8)
}




}
